[commit]
	gpgSign = true
[core]
	editor = code --wait
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[user]
	name = Léo DEVILLE
	email = 81935247+Luhmm1@users.noreply.github.com
	signingKey = 1DCA3FC1ED4B9FC78BF4ABB4B7E442A9163751C7
